@font-face {
  font-family: "futurak";
  src: url("https://staging.tossdown.site/assets/theme_one/fonts/futurak/futurak.ttf");
}

@font-face {
  font-family: "apercu";
  src: url("https://staging.tossdown.site/assets/theme_one/fonts/aperculight/aperculight.otf")
      format("opentype"),
    url("https://staging.tossdown.site/assets/theme_one/fonts/aperculight/aperculight.otf")
      format("otf");
}

* {
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
}

.Futurak-font-400-usage {
  font-family: futurak, sans-serif;
  font-weight: 400;
}

body {
  background-color: black;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: white;
}

/**************** Header *****************/

.nav-bar-flex {
  display: flex;
  flex-flow: row;
  background-color: black;
  align-items: center;
  height: 92px;
  max-width: 1140px;
  padding: 8px 0px 8px 0px;
  margin-left: auto;
  margin-right: auto;
}

nav figure {
  position: relative;
  top: 5px;
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  position: relative;
  /* top: 0px; */
  /* left: 290px; */
  height: fit-content;
  color: white;
  margin-left: auto;
}

nav ul > li {
  list-style-type: none;
  position: relative;
  padding: 10px;
}

nav ul li.border-radius-white {
  border-radius: 35px;
  border: 1px solid white;
  margin-right: 10px;
}

nav ul li.border-readius-background-color-red {
  background-color: red;
  border-radius: 31px;
}

nav ul li.border-readius-background-color-red {
  display: flex;
  align-items: center;
}

nav ul li.border-readius-background-color-red > a > span {
  padding-right: 5px;
}

nav ul li.border-readius-background-color-red > a:active img {
  box-shadow: none;
}

img#Arrow-order-online {
  border-radius: 50%;
  width: 25px;
  /* height: ; */
  /* padding-left: 2px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/**************** Body ***************/

.section-1 {
  /* display: flex; */
  padding: 70px 15px 160px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Apercu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section-1 h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 8px;
}

div.parent-container {
  /* max-width: 1140px; */
  text-align: center;
}

/***** Product brands *****/

div.parent-container-for-ul {
  background-color: black;
  padding-top: 40px !important;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0px -15px;
}

div.parent-container-for-ul ul {
  display: flex;
}

div.parent-container-for-ul li {
  text-align: center;
  list-style-type: none;
  padding: 0 15px;
}

div.order-now-button-border-radius-50px a:hover,
div.order-now-button-border-radius-50px a:link,
div.order-now-button-border-radius-50px a:visited,
div.order-now-button-border-radius-50px a:active,
div.order-now-button-border-radius-50px a:focus {
  text-decoration: none;
  color: white;
}

.order-now-button-border-radius-50px {
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #ffffff;
  margin: auto;
  margin-top: 24px;
  border: 1px solid white;
  width: 174px;
  height: 50px;
}

.img-figure-white {
  /* background-color: #ffffff; */
  width: 280px;
  height: 140px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.img-figure-white a {
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.img-figure-white img {
  box-sizing: border-box;
  object-fit: contain;
  /* duo of above 2 properties solved 50% of the problem */
  width: 100%;
  display: block;
  height: 100%;
  /* This combo completely solved the problem */
  background-color: #ffff;
  padding: 0px 19px;
  border-radius: 3px;
}

/***** Section 2*****/

.section-2 {
  position: relative;
  background: rgba(255, 255, 255, 0.06);
  padding: 70px;
}

#section-2-intro {
  text-align: center;
}

#right-most-image {
  position: absolute;
  right: 32px;
  top: 32px;
}

.section-2 h2 .Futurak-font-400-usage {
  font-size: 48px;
}

.section-2 h2 {
  font-size: 48px;
  margin-bottom: 8px;
}

p.size-18px-weight-300 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}

.section-2-container-1 img {
  box-sizing: border-box;
}

.section-2-container-1 {
  display: flex;
  flex-flow: column nowrap;
}

.text-red-uppercase {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: block;
}

.adress-secion-2 {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}

.list-style-phone {
  /* list-style: url("Images/Section 2/phone-square-solid.svg"); */
  width: 20px;
  height: 20px;
  /* background-color: #ffffff; */
  /* border-radius: 50%; */
  background-image: url("Images/Section 2/Grey background.png");
}



/* 
phone call symbol 
\f095;

Arrow symbol
\f061
*/
