@font-face {
  font-family: "futurak";
  src: url("https://staging.tossdown.site/assets/theme_one/fonts/futurak/futurak.ttf");
}

@font-face {
  font-family: "apercu";
  src: url("https://staging.tossdown.site/assets/theme_one/fonts/aperculight/aperculight.otf")
      format("opentype"),
    url("https://staging.tossdown.site/assets/theme_one/fonts/aperculight/aperculight.otf")
      format("otf");
}

* {
  font-style: normal;
  color: white;
}

.Futurak-font-400-usage {
  font-family: futurak, sans-serif;
  font-weight: 400;
}

body {
  background-color: black;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: white;
}

/**************** Header *****************/

.nav-bar-flex {
  display: flex;
  flex-flow: row;
  background-color: black;
  align-items: center;
}

nav figure {
  position: relative;
  top: 5px;
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  position: relative;
  /* top: 0px; */
  left: 290px;
  height: fit-content;
  color: white;
}

nav ul > li {
  list-style-type: none;
  position: relative;
  padding: 10px;
}

nav ul li.border-radius-white {
  border-radius: 35px;
  border: 1px solid white;
  margin-right: 10px;
}

nav ul li.border-readius-background-color-red {
  background-color: red;
  border-radius: 31px;
}

nav ul li.border-readius-background-color-red {
  display: flex;
  align-items: center;
}

nav ul li.border-readius-background-color-red > a > span {
  padding-right: 5px;
}

nav ul li.border-readius-background-color-red > a:active img {
  box-shadow: none;
}

img#Arrow-order-online {
  border-radius: 50%;
  width: 25px;
  /* height: ; */
  /* padding-left: 2px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/**************** Body ***************/

.section-1 {
  /* display: flex; */
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Apercu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section-1 h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 8px;
}
